@model Greg_Project_1.Models.PlaceOrderViewModel

@{
    ViewData["Title"] = "PreDetails";
}

<h1>PreDetails</h1>

<div>
    <h4>PlaceOrderViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cust)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cust)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loc)
        </dd>
    </dl>
</div>
<div>
    Continue?
    <a asp-action="Edit">Yes</a>
    <a asp-action="Index">No</a>
</div>
