@model Greg_Project_1.Models.PlaceOrderViewModel

@{
    ViewData["Title"] = "PreDetails";
}

<h1>Let's confirm...</h1>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cust)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Loc)
                </th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.CustId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Cust)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LocId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Loc)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    Continue?
    <a asp-action="Edit">Yes</a>
    <a asp-action="Index">No</a>
</div>
