@model Greg_Project_1.Models.PlaceOrderViewModel

@{
    ViewData["Title"] = "PreDetails";
}

<h1>Let's confirm...</h1>

<div>
    <p>
        @Html.DisplayNameFor(model => model.CustName): @Html.DisplayFor(model => model.CustName) <br />
        @Html.DisplayNameFor(model => model.CustAddr): @Html.DisplayFor(model => model.CustAddr) <br />
        @Html.DisplayNameFor(model => model.LocName): @Html.DisplayFor(model => model.LocName)<br />
        @Html.DisplayNameFor(model => model.LocAddr): @Html.DisplayFor(model => model.LocAddr)<br />

    </p>
</div>
<div>
    Continue?
    <a asp-action="Edit">Yes</a>
    <a asp-controller="Home" asp-action="Index">No</a>
</div>
