@model IEnumerable<Greg_Project_1.Models.CustomerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<div>
    <h3>Narrow your search:</h3>
</div>
<div>
    <form asp-action="Index" method="GET" class="form-inline">
        <label class="sr-only" for="search">Search Customers:</label>

        
        <div>
            <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="custid" placeholder="Customer ID #" />
            <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="firstname" placeholder="First Name" />
            <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="lastname" placeholder="Last Name" />
        </div>
        <div>
            <em>Feel free to leave any of the boxes blank.</em>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<p>
    Want to add a new customer? <a asp-action="Create">Click here</a>.
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            
        </tr>
}
    </tbody>
</table>
