@model IEnumerable<Greg_Project_1.Models.SearchLocationViewModel>

@{
    ViewData["Title"] = "Index";
}
<h1>Locations</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayName(item.Id.ToString())
            </td>
            <td>
                @Html.DisplayName(item.Name)
            </td>
            <td>
                @Html.DisplayName(item.Address)
            </td>
        </tr>
}
    </tbody>
</table>
