@model IEnumerable<Greg_Project_1.Models.OrderViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<div>
    <h3>Narrow your search by customer:</h3>
</div>
<div>
    <form asp-action="Index" method="GET" class="form-inline">

        <div>
            <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="custid" min = 1 placeholder="Customer ID #" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<div>
    <h3>Narrow your search by location:</h3>
</div>
<div>
    <form asp-action="Index" method="GET" class="form-inline">

        <div>
            <input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search" name="locid" min = 1 placeholder="Location ID #" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                Customer
            </th>
            <th>
                Location
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustId): @Html.DisplayFor(modelItem => item.CustName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocId): @Html.DisplayFor(modelItem => item.LocName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCost)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.OrderId })
                </td>
            </tr>
        }
    </tbody>
</table>
